.jumbotron {
    background-image: linear-gradient(120deg, hsla(24, 100%, 45%, 1.0), hsla(0, 100%, 47%, 1.0));
    border-radius: 0;
    color: #FFFFFF;
    text-align: center;
}

nav.navbar.navbar-dark.bg-inverse {
    border-radius: 0;
    background-image: linear-gradient(120deg, hsla(24, 100%, 27%, 1.0), hsla(0, 100%, 39%, 1.0));
}


input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    text-align: center;
    width: 2rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.card-columns {
    column-count: 1;
}

.card {
    background-color: #282a36;
    color: rgb(94, 180, 255);
}

h4 {
    margin: 0 !important;
}

pre {
    margin: 0 !important;
}

[data-name] {
    pointer-events: none;
}

.input-warpper p {
    margin: 0;
}

.input-warpper {
    display: inline-flex;
}

.hide {
    display: none !important;
}